/backend/app/__pycache__
/models/classification/app/__pycache__

/models/segmentation/app/__pycache__
/models/segmentation/decimer_segmentation/__pycache__/
/models/segmentation/decimer_segmentation/mrcnn/__pycache__

/minio/data
/data